


.logo{
    grid-row: 1;
    grid-column: 1/6;
    padding-left: 3vw;
    scale: 77%;
}
.monoback_mobile{
    display: none;
}

.heading{
    text-align: center;
    grid-column: 1/13;
    grid-row: 3;
    font-family: garamond-premier-pro-display,serif;
    font-weight: 400;
    font-style: italic;
    font-size: 8vw;
    color: white;
    justify-content: center;
    padding-top: 2vw;
}


.article_1{
    grid-row: 7/13;
    grid-column: 2/7;
    padding: 50px 20px 0px 20px;

}
.article_2{
    grid-row: 15/21;
    grid-column: 7/12;
    padding: 30px 40px 20px 25px;
    text-align: right;
}
.article_3{
    grid-row: 27;
    grid-column: 2/6;
    text-align: left;
    padding-top: 11vw;
    padding-left: 2em;
}
.article_4{
    grid-row: 35;
    grid-column: 4/10;
    padding-top: 4vw;
    padding-bottom: 4vw;
}

.img1{
    grid-row: 10/15;
    grid-column: 7/12;
    padding-top: 70px;
    padding: 10px;
}
.img2{
    grid-row: 13/18;
    grid-column: 2/7;
    padding: 10px;
}

/* image fade  */
.fade {
    position: relative;
    grid-column: 1/13;
    grid-row: 1/5;
    z-index: 1;
    width: 100%;
    
  }
  .fade .monoback:before {
    content: '';
    background-image: linear-gradient(to top, #232930,#23293063, rgba(255, 255, 255, 0.085));
    position: absolute;
    height: 100%;
    left: 0px;
    overflow: hidden;
    width: 100%;

  }
  .fade .monoback:after {
    content: '';
  }

