
.back_mobile{
    display: none;
}
.back{
    grid-column: 1/13;
    scale: 100%;
    grid-row: 1/5;
}


.article_1{
    grid-row: 7/13;
    grid-column: 6/10;
    padding: 50px 20px 0px 20px;

}
.article_2{
    grid-row: 15/21;
    grid-column: 7/12;
    padding: 30px 40px 20px 25px;
    text-align: right;
}
.article_3{
    grid-row: 27;
    grid-column: 2/6;
    text-align: left;
    padding-top: 11vw;
    padding-left: 2em;
}
.article_4{
    grid-row: 35;
    grid-column: 4/10;
    padding-top: 4vw;
    padding-bottom: 4vw;
}

.img1{
    grid-row: 10/15;
    grid-column: 1/6;
    padding-top: 70px;
    padding: 10px;
}
.img2{
    grid-row: 13/18;
    grid-column: 7/12;
    padding: 10px;
}
.patterns{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-row: 30;
    grid-column: 1/13;
}

/* image fade  */
.fade {
    position: relative;
    grid-column: 1/13;
    grid-row: 1/5;
    z-index: 1;
    width: 100%;
    
  }
  .fade .back:before {
    content: '';
    background-image: linear-gradient(to top, #232930,#23293063, rgba(255, 255, 255, 0.085));
    position: absolute;
    height: 100%;
    left: 0px;
    overflow: hidden;
    width: 100%;

  }
  .fade .back:after {
    content: '';
  }

  @media (max-width: 600px){
    .logo{
        grid-column: 1/13;
        justify-content: center;
        scale: 80%;
        padding-top: 10px;
    }
    .back{
        display: none;
    }
    .back_mobile{
        display: block;
    }
    .title{
        display: none;
    }
    .img2,.img1,.dot,.carosel{grid-column:1/13;}

    .article_1{grid-row: 7;}

    .img1{grid-row: 8;}

    .article_2{grid-row: 9;}

    .img2{grid-row: 10;}


    .carosel,.carosel_gradient{grid-row: 13;grid-column: 1/13;}

    .article_1,.article_2,.article_3,.article_4{
        grid-column: 1/13;
        padding-left: 25px;
        padding-right: 25px;

    }
    .article_3{grid-row: 12;}
  
    p{font-size: 12px;
    line-height: 17px;
    text-align: center;}
    h4{
        font-size: 3vw;
    }
    h6{ /* caption */
        font-size: 2vw;
        padding-left: 10px;
    }

    
}

