



.article_1{
    grid-row: 5/13;
    grid-column: 6/11;
    padding: 5vw 2vw 0 .2vw;
    text-align: justify;
}
.article_2{
    grid-row: 21;
    grid-column: 1/5;
    padding: 0vw 4vw 0px 4vw;
    text-align: justify;
}
.article_3{
    grid-row: 16;
    grid-column: 6/11;
    text-align: left;
    padding-top: 35vw;
}
.article_4{
    grid-row: 35;
    grid-column: 4/10;
    padding-top: 4vw;
    padding-bottom: 4vw;
}

.img1{
    grid-row: 10/15;
    grid-column: 2/8;
    padding-top: 1vw;
    padding: 2vw;
    scale: 130%;
}
.img2{
    grid-row: 13/18;
    grid-column: 6/12;
    align-content: center;
    padding-top: 7vw;
    scale: 120%;
}
.img3{
    grid-row: 12/18;
    grid-column: 9/13;
    padding-top: 10vw;
}
.img4{
    grid-row: 16;
    grid-column: 2/5;
    padding-top: 10vw;
    scale: 130%;
}
.patterns{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-row: 19;
    grid-column: 1/13;
    padding: 10vw;
}



  @media (max-width: 600px){
    .logo{
        grid-column: 1/13;
        justify-content: center;
        scale: 80%;
        padding-top: 10px;
    }
   
    .title{
        display: none;
    }
    .img2,.img1,.img3,.dot,.carosel{grid-column:1/13; align-items: center;}

    .article_1{grid-row: 7;}

    .img1{grid-row: 8;}

    .article_2{grid-row: 9;}

    .img2{grid-row: 10;}


    .carosel,.carosel_gradient{grid-row: 13;grid-column: 2/12;}

    .article_1,.article_2,.article_3,.article_4{
        grid-column: 1/13;
        padding-left: 25px;
        padding-right: 25px;
        padding-bottom: 1vw;

    }
    .article_3{grid-row: 14;}
    .img3{grid-row: 15;}
  
    p{font-size: 12px;
    line-height: 17px;
    text-align: center;}
    h4{
        font-size: 3vw;
    }
    h6{ /* caption */
        font-size: 2vw;
        padding-left: 10px;
    }

    
}

