*{margin: 0;}
html{ scroll-behavior: smooth; background: #232930;}
::-webkit-scrollbar {display: none;}
.container{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(40, 1fr);
    justify-content: center;
    overflow: hidden; 
    grid-template-rows: fit-content(8ch) fit-content(8ch) 1fr;
}
.logo{
    grid-row: 1;
    z-index: 2;
    scale: 80%;
    grid-column: 1/4;
}
.title{
    grid-column: 1;
    grid-row: 1/4;
    z-index: 3;
    transform: rotate(180deg);
    writing-mode: vertical-lr;
    text-shadow: rgb(0, 0, 0) 1px 0 10px;
    padding-left: 40px;
    padding-bottom: 140px;
    text-align: center;}

nav{
    grid-column:4/13;
    grid-row: 1;
    z-index: 3;
    place-items: center;
    align-content: center;
    text-align: center;
  }
  
  .nav_links{
    padding-top: 4vw;
    text-shadow: rgb(0, 0, 0) 1px 0 10px;
    font-family: garamond-premier-pro-display,serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    word-spacing: .5vh;
    cursor: pointer;
    position: fixed;
    place-items: center;
    align-content: center;
    text-align: center;
  }
  .dropbtn {
    border: none;
    background-color: rgba(255, 255, 255, 0);
    text-shadow: rgb(0, 0, 0) 1px 0 10px;
    font-family: garamond-premier-pro-display,serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    word-spacing: .5vh;
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    text-align: center;
    z-index: 1;
  }
  
  .dropdown-content a {
    text-decoration: none;
    padding: 5px;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: rgba(221, 221, 221, 0);color: #16BA63;}
  
  .dropdown:hover .dropdown-content {display: block;}
  

.icons{
    position: fixed;
    grid-row: 1;
    grid-column: 12;
    z-index: 2;
    column-gap: 13%;
    padding-top: 1.5vw;
    padding-left: 90vw;
    display: inline-flex;
    align-items: center;
    /* scale: 90%;  */
    padding-right: 10px;
}
.cart,.profile,.search{cursor: not-allowed;}
.menu{cursor: pointer;}

.heading{
    text-align: center;
    grid-column: 1/13;
    grid-row: 3;
    font-family: garamond-premier-pro-display,serif;
    font-weight: 400;
    font-style: italic;
    font-size: 8vw;
    color: white;
    justify-content: center;
    padding-top: 2vw;
    z-index: 1;
}
.subheading{
    text-align: center;
    grid-column: 1/13;
    grid-row: 3;
    padding-top: 25vw;
    z-index: 2;
}
/* carosel code */
.carosel_gradient{
    background: linear-gradient(rgba(32, 38, 45, 0.711),rgba(14, 15, 20, 0.922),rgba(0, 0, 0, 1),rgba(14, 15, 20, 0.922),rgba(32, 38, 45, 0.731));
    grid-row: 24/31;
    grid-column: 1/13;
    z-index: -1;

}
.carosel{
grid-row: 27;
grid-column: 7/13;
text-align: center;
width: 65%;
padding-top: 4vw;
}
* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
img {vertical-align: middle;}
.slideshow-container {
max-width: 1000px;
position: relative;
margin: auto;
}
.caption {padding-top: .5vw;}
.dot {
height: 8px;
width: 9px;
background-color: #16BA63;
border-radius: 80%;
display: inline-block;
transition: background-color 0.6s ease;
grid-column: 5/10;
grid-row: 28;
padding-top: 10px;
}
.active {background-color: #abffd2;}

/*carosel fade*/
.fade {
animation-name: fade;
animation-duration: 5s;
}

@keyframes fade {
from {opacity: .1} 
to {opacity: 1}
}

.footer{
background-color: #16BA63;
display: grid;
grid-template-columns: repeat(5, 1fr);
grid-template-rows: repeat(1, 1fr);
overflow: hidden;
padding: 30px;
column-gap: 50px;
grid-row: 40;
grid-column: 1/13;
}
.smlogo{
grid-row: 1;
grid-column: 1/2;
padding-right: 1vw;
padding-top: 2vw;
}

.endtext{
grid-row: 40;
grid-column: 2/9;
scale: 90%;
padding-bottom: 20px;
}
        
             



p{/* body text */
font-size: 20px;
font-family: articulat-cf,sans-serif;
font-weight: 400;
font-style: normal;
color: white;
line-height: 2vw;
}
h1{/* footer */
font-size: 15px;
font-family: articulat-cf,sans-serif;
font-style: normal;
font-weight: 600;
color: white;
line-height: 3vw;
}
h2{/* heading sans serif*/
font-family: articulat-cf,sans-serif;
font-weight: 900;
font-style: normal;
font-size: 10vw;
justify-content: center;
}
h3{/* subheading text */
color: white;
font-size: 25px;
font-family: articulat-cf,sans-serif;
font-weight: 800;
font-style: italic;
word-spacing: 6px;
}
h4{/* nav text */
font-family: garamond-premier-pro-display,serif;
font-weight: 400;
font-style: normal;
font-size: 1.5vw;
word-spacing: 10px;
}
h5{
font-family: garamond-premier-pro-display,serif;
font-weight: 400;
font-style: normal;
font-size: 40px;
}
h6{ /* caption */
font-size: 1vw;
font-family: articulat-cf,sans-serif;
font-style: normal;
text-align: left;
font-weight: 300;
}

img {
max-width: 100%;
height: auto;
width: auto\9;
}
body{
background: #232930;
}

/* link appearance */
a {
-webkit-transition: color .5s;
transition: color .5s;
cursor: pointer;
}
a:link { 
text-decoration: none;
color: white;
cursor: pointer;
}
a:visited { 
text-decoration: none;
color: white;
cursor: pointer;
}
a:hover {
color: #E94D6B;
cursor: pointer;
text-shadow: none;
}
a:active { 
text-decoration: none; 
}

  
@media (max-width: 600px){
    .logo{
        grid-column: 1/13;
        justify-content: center;
        scale: 80%;
        padding-top: 10px;
    }
    .icons{
        grid-template-columns: repeat(4, 1fr);
        grid-row: 1;
        grid-column: 11;
        z-index: 2;
        column-gap: 1vw;
        padding-top: 6vh;
        display: inline-flex;
        scale: 220%;
        align-items: flex-start;
    }
    .title{display: none;}

    .carosel,.carosel_gradient{grid-row: 13;grid-column: 1/13;}
   
    nav{grid-column: 1/13; grid-row: 1;}
    .nav_links{
      padding: 2vw;
       font-size: 14px;
       z-index: 1;
    }
    .dropbtn{font-size: 14px;}

    p{font-size: 12px;
    line-height: 17px;
    text-align: center;}

    h4{font-size: 3vw;}

    h6{ /* caption */
        font-size: 10px;
        padding-left: 10px;
    }
    .ul1,.ul2,.ul3,.ul4{
        grid-column: 2/5;
        text-align: center;
        row-gap: 15px;
        line-height: 25px;
    }
    .ul1 h1{line-height: 25px;}.ul2 h1{line-height: 25px;}.ul3 h1{line-height: 25px;}.ul4 h1{line-height: 25px;}
    .footer{column-gap: 0px;}
    .smlogo{display: none;}
    h3{font-size: 18px;}
    
}
